.nested-accordion {
  @verticalPadding: 15px;
  @background: #4d5158;

  color: white;
  -webkit-font-smoothing: antialiased;
  max-width: 400px;
  line-height: 1.5;

  section {
    padding-top: @verticalPadding;
    padding-bottom: @verticalPadding;
    position: relative;
  }

  .fa-angle-right {
    font-size: 1.5em;
    transition: transform .1s;
  }

  .folder.opened > .folder-label > .fa-angle-right {
    transform: rotateZ(90deg);
  }

  .folder-label {
    position: relative;
  }

  .folder-arrow {
    position: absolute;
    top: 12px;
  }

  @currentWidth: 5px;

  .current {
    border-left: inset #EE802B @currentWidth;
  }

  @sidePadding: 14px;
  @sidePaddingStep: 15px;
  @arrowLeftOffset: -15px;

  .nesting-0 {
    padding-left: @sidePadding + @sidePaddingStep;
    background: @background;
    box-shadow: inset 0 -1px lighten(@background, 3%);
    &.current { padding-left: @sidePadding + @sidePaddingStep - @currentWidth; }

    > .folder-arrow {
      left: @sidePadding + @sidePaddingStep + @arrowLeftOffset;
    }
  }

  .nesting-1 {
    padding-left: @sidePadding + @sidePaddingStep * 2;
    background: darken(@background, 6%);
    box-shadow: inset 0 -1px darken(@background, 3%);
    &.current { padding-left: @sidePadding + @sidePaddingStep * 2 - @currentWidth; }

    > .folder-arrow {
      left: @sidePadding + @sidePaddingStep * 2 + @arrowLeftOffset;
    }
  }

  .nesting-2 {
    padding-left: @sidePadding + @sidePaddingStep * 3;
    background: darken(@background, 10%);
    box-shadow: inset 0 -1px darken(@background, 5%);
    &.current { padding-left: @sidePadding + @sidePaddingStep * 3 - @currentWidth; }

    > .folder-arrow {
      left: @sidePadding + @sidePaddingStep * 3 + @arrowLeftOffset;
    }
  }

  .nesting-3 {
    padding-left: @sidePadding + @sidePaddingStep * 4;
    background: darken(@background, 13%);
    box-shadow: inset 0 -1px darken(@background, 8%);
    &.current { padding-left: @sidePadding + @sidePaddingStep * 4 - @currentWidth; }
    > .folder-arrow {
      left: @sidePadding + @sidePaddingStep * 4 + @arrowLeftOffset;
    }
  }

  .nesting-4 {
    padding-left: @sidePadding + @sidePaddingStep * 5;
    &.current { padding-left: @sidePadding + @sidePaddingStep * 5 - @currentWidth; }
    background: darken(@background, 15%);
    box-shadow: inset 0 -1px darken(@background, 10%);
    > .folder-arrow {
      left: @sidePadding + @sidePaddingStep * 5 + @arrowLeftOffset;
    }
  }

  a {
    color: white;
    text-decoration: none;
  }

  @media (max-width: 400px) {
    display: none;
  }
}
