/* Variables from settings */
// @highlightColor: #ee802c;
// @highlightBgColor: gray;
// @highlightWidth: 5;
// @backgroundColor0: #545960;
// @backgroundColor1: #464950;
// @backgroundColor2: #35383d;
// @backgroundColor3: #2e3035;
// @textColor0: white;
// @textColor1: darken(white, 20%);
// @textColor2: darken(white, 40%);;
// @textColor3: darken(white, 60%);;
// @verticalPadding: 15;
// @leftPadding: 14;
// @leftPaddingStep: 15;
// @arrowLeftOffset: -20;
// @arrowTopOffset: 17;
// @minScreenWidth: 400;
// @hoverColor0: green;
// @hoverColor1: green;
// @hoverColor2: green;
// @hoverColor3: green;
// @hoverTransition: 0.2;
// @borderColor: gray;
// @borderWidth: 5;
// @borderStyle: outset;
// @topFontSize: 15;
// @innerFontSize: 13;

.nested-accordion {
  color: white;
  -webkit-font-smoothing: antialiased;
  max-width: 400px;
  line-height: 1.5;
  border: unit(@borderWidth, px) @borderStyle @borderColor;
  font-size: unit(@topFontSize, px);

  section {
    padding-top: unit(@verticalPadding, px);
    padding-bottom: unit(@verticalPadding, px);
    padding-right: unit(@verticalPadding, px);
    position: relative;
    cursor: pointer;
    transition: unit(@hoverTransition, s) background;
  }

  .folder-arrow {
    height: 1em;
    fill: white;
    transition: transform .1s;
    top: unit(@arrowTopOffset, px);
  }

  .folder.opened > .folder-label > .folder-arrow {
    transform: rotateZ(90deg);
  }

  .folder-label {
    position: relative;
    display: flex;
    align-items: center;
  }

  .folder-arrow {
    position: absolute;
  }

  .nesting-0 {
    padding-left: unit(@leftPadding + @leftPaddingStep, px);
    background: @backgroundColor0;
    &:hover { background: @hoverColor0; }
    color: @textColor0;
    box-shadow: inset 0 -1px lighten(@backgroundColor0, 3%);
    &.current {
      padding-left: unit(@leftPadding + @leftPaddingStep - @highlightWidth, px);
    }

    > .folder-arrow {
      fill: @textColor0;
      left: unit(@leftPadding + @leftPaddingStep + @arrowLeftOffset, px);
    }
  }

  .nesting-1 {
    font-size: unit(@innerFontSize, px);
    padding-left: unit(@leftPadding + @leftPaddingStep * 2, px);
    background: @backgroundColor1;
    &:hover { background: @hoverColor1; }
    color: @textColor1;
    box-shadow: inset 0 -1px darken(@backgroundColor1, 3%);
    &.current {
      padding-left: unit(@leftPadding + @leftPaddingStep * 2 - @highlightWidth, px);
    }

    > .folder-arrow {
      fill: @textColor1;
      left: unit(@leftPadding + @leftPaddingStep * 2 + @arrowLeftOffset, px);
    }
  }

  .nesting-2 {
    font-size: unit(@innerFontSize, px);
    padding-left: unit(@leftPadding + @leftPaddingStep * 3, px);
    background: @backgroundColor2;
    &:hover { background: @hoverColor2; }
    color: @textColor2;
    box-shadow: inset 0 -1px darken(@backgroundColor2, 3%);
    &.current {
      padding-left: unit(@leftPadding + @leftPaddingStep * 3 - @highlightWidth, px);
    }

    > .folder-arrow {
      fill: @textColor2;
      left: unit(@leftPadding + @leftPaddingStep * 3 + @arrowLeftOffset, px);
    }
  }

  .nesting-3 {
    font-size: unit(@innerFontSize, px);
    padding-left: unit(@leftPadding + @leftPaddingStep * 4, px);
    background: @backgroundColor3;
    &:hover { background: @hoverColor3; }
    color: @textColor3;
    box-shadow: inset 0 -1px darken(@backgroundColor3, 3%);
    &.current {
      padding-left: unit(@leftPadding + @leftPaddingStep * 4 - @highlightWidth, px);
    }
    > .folder-arrow {
      fill: @textColor3;
      left: unit(@leftPadding + @leftPaddingStep * 4 + @arrowLeftOffset, px);
    }
  }

  .nesting-4 {
    font-size: unit(@innerFontSize, px);
    padding-left: unit(@leftPadding + @leftPaddingStep * 5, px);
    &.current {
      padding-left: unit(@leftPadding + @leftPaddingStep * 5 - @highlightWidth, px);
    }
    background: darken(@backgroundColor0, 15%);
    box-shadow: inset 0 -1px darken(@backgroundColor0, 10%);
    > .folder-arrow {
      left: unit(@leftPadding + @leftPaddingStep * 5 + @arrowLeftOffset, px);
    }
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  .current {
    border: solid @highlightColor unit(@highlightWidth, px);
    font-weight: bold;
    background-color: @highlightBgColor;
  }

  @media (max-width: unit(@minScreenWidth, px)) {
    display: none;
  }
}
