/* Variables from settings */
// @highlightColor: #ee802c;
// @highlightWidth: 5;
// @backgroundColor0: #545960;
// @backgroundColor1: #464950;
// @backgroundColor2: #35383d;
// @backgroundColor3: #2e3035;
// @verticalPadding: 15;
// @leftPadding: 14;
// @leftPaddingStep: 15;
// @arrowLeftOffset: -20;
// @arrowTopOffset: 17;
// @minScreenWidth: 400;

.nested-accordion {
  color: white;
  -webkit-font-smoothing: antialiased;
  max-width: 400px;
  line-height: 1.5;

  section {
    padding-top: unit(@verticalPadding, px);
    padding-bottom: unit(@verticalPadding, px);
    padding-right: unit(@verticalPadding, px);
    position: relative;
  }

  .folder-arrow {
    height: 1em;
    fill: white;
    transition: transform .1s;
    top: unit(@arrowTopOffset, px);
  }

  .folder.opened > .folder-label > .folder-arrow {
    transform: rotateZ(90deg);
  }

  .folder-label {
    position: relative;
    display: flex;
    align-items: center;
  }

  .folder-arrow {
    position: absolute;
  }

  .current {
    border-left: inset @highlightColor unit(@highlightWidth, px);
    font-weight: bold;
  }

  .nesting-0 {
    padding-left: unit(@leftPadding + @leftPaddingStep, px);
    background: @backgroundColor0;
    box-shadow: inset 0 -1px lighten(@backgroundColor0, 3%);
    &.current {
      padding-left: unit(@leftPadding + @leftPaddingStep - @highlightWidth, px);
    }

    > .folder-arrow {
      left: unit(@leftPadding + @leftPaddingStep + @arrowLeftOffset, px);
    }
  }

  .nesting-1 {
    padding-left: unit(@leftPadding + @leftPaddingStep * 2, px);
    background: @backgroundColor1;
    box-shadow: inset 0 -1px darken(@backgroundColor1, 3%);
    &.current {
      padding-left: unit(@leftPadding + @leftPaddingStep * 2 - @highlightWidth, px);
    }

    > .folder-arrow {
      left: unit(@leftPadding + @leftPaddingStep * 2 + @arrowLeftOffset, px);
    }
  }

  .nesting-2 {
    padding-left: unit(@leftPadding + @leftPaddingStep * 3, px);
    background: @backgroundColor2;
    box-shadow: inset 0 -1px darken(@backgroundColor2, 3%);
    &.current {
      padding-left: unit(@leftPadding + @leftPaddingStep * 3 - @highlightWidth, px);
    }

    > .folder-arrow {
      left: unit(@leftPadding + @leftPaddingStep * 3 + @arrowLeftOffset, px);
    }
  }

  .nesting-3 {
    padding-left: unit(@leftPadding + @leftPaddingStep * 4, px);
    background: @backgroundColor3;
    box-shadow: inset 0 -1px darken(@backgroundColor3, 3%);
    &.current {
      padding-left: unit(@leftPadding + @leftPaddingStep * 4 - @highlightWidth, px);
    }
    > .folder-arrow {
      left: unit(@leftPadding + @leftPaddingStep * 4 + @arrowLeftOffset, px);
    }
  }

  .nesting-4 {
    padding-left: unit(@leftPadding + @leftPaddingStep * 5, px);
    &.current {
      padding-left: unit(@leftPadding + @leftPaddingStep * 5 - @highlightWidth, px);
    }
    background: darken(@backgroundColor0, 15%);
    box-shadow: inset 0 -1px darken(@backgroundColor0, 10%);
    > .folder-arrow {
      left: unit(@leftPadding + @leftPaddingStep * 5 + @arrowLeftOffset, px);
    }
  }

  a {
    color: white;
    text-decoration: none;
  }

  @media (max-width: unit(@minScreenWidth, px)) {
    display: none;
  }
}
